#top-frame {
    position: relative;
    height: 150px; /* Match image height */
}

#moo-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    z-index: 100;
    pointer-events: auto;
}

#moo-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 150px;
    z-index: 100;
    pointer-events: auto;
}