.crime-container {
    margin: 0 auto; /* Removed max-width: 600px to fill window width */
}
.crime-action {
    display: flex;
    align-items: center;
    gap: 10px;
}
.crime-action button {
    margin: 0;
}
.crime-action p {
    margin: 0;
    font-size: 14px;
}