.bordered.black-market {
    margin-bottom: 10px;
    padding: 5px;
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
#inventory .bordered {
    padding: 10px;
}
#inventory .bordered h3 {
    text-align: center;
    margin: 0 0 10px 0;
}
.inventory-content {
    display: flex;
    gap: 20px;
}
#market-list {
    flex: 1;
    min-width: 300px;
}
#inventory-list {
    flex: 1;
    min-width: 300px;
    text-align: left;
}