#speakeasy {
    border: 2px solid #333;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.gamble-action {
    border: 2px solid #333;
    padding: 10px;
    margin: 10px 0;
}

.cash-bet, .gold-bet {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.cash-bet input, .gold-bet input {
    color: #fff;
}

.cash-bet button, .gold-bet button {
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
}