#speakeasy {
    display: none;
}

#speakeasy.active {
    display: block;
}

#speakeasy input {
    width: 80px;
    height: 30px;
    color: #000;
}

#speakeasy button {
    width: 80px;
    height: 30px;
}